html, body{
    height: auto;
}
	
body {
	margin: 0px;
	padding: 0px;
    background: url(baru.png);
    font-family: 'Didact Gothic', sans-serif;
	font-size: 12pt;
    font-weight: 200;
	color: #FFF;
}

#header-wrapper {
    height: 50px;
	position: relative;
	padding:  8em 9em 80em 8em;
	background: #111111 url(a.jpg);
	background-size: cover;
    width: auto;
}

header {
    width: 80%;
    height: 112px;
	position: absolute;
    top: 18px;
    text-align: center;
    position: sticky
	padding: 9em 0em;
    background-image: url(b.jpg);
    border-radius: 11px;
}

.judul{
    
    text-align: center;
    color: #111;
    font-family: Cooper Black;
}

.logo1
{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    right: 30%;
}

.logo2
{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 30%;
}
a
{
	color: #ee0000;
}
	
a:hover
{
	text-decoration: none;
}
	
.container
{
    overflow: hidden;
    margin: 0em auto;
    width: 1200px;
}

.dropmenu {
    background: #00FFFF;
    height: 30px;
    list-style-type: none;
    margin: 50px;
    padding: 5px;
    position: absolute;
    left: 90;
}
.dropmenu li {
    border-right: solid 1px white;
    float: left;
    height: 30px;
    text-align: center;
}
.dropmenu li a {
    color: #fff;
    display: block;
    font: 12px arial, verdana, sans-serif;
    font-weight: bold;
    padding: 9px 20px;
    text-decoration: none;
}
.dropmenu li:hover { background: #FFFF00; position: relative; }
.dropmenu li:hover a { text-decoration: underline; }
.dropmenu li:hover ul {
    background-color: #3f4a54;
    border: 1px solid yellow;
    left: 5px;
    padding: 3px;
    top: 30px;
    width: 1px;
}
.dropmenu li:hover ul li { border: none; height: 18px; }
.dropmenu li:hover ul li a {
    background-color: #FFFF00;
    border: 1px solid transparent;
    color: #fff;
    display: block;
    font-size: 11px;
    height: 18px;
    line-height: 18px;
    padding: 0px;
    text-decoration: none;
    text-indent: 5px;
    width: 158px;
    padding: 3px;
}
.dropmenu li:hover ul li a:hover {
    background: silver;
    border: solid 1px #444;
    color: #000;
    height: 18px;
    padding: 3px;
}
.dropmenu ul {
    left: -9999px;
    list-style-type: none;
    position: absolute;
    top: -9999px;
}

.contentbox{
    width: 1048px;
    height: auto;
    background-color: #a3a3a3;
	position: absolute;
    left: 130;
	top: 250px;
    border-radius: 10px;
    padding: 9px 15px;
}

@keyframes slider {
    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }

}

#slider {
    overflow: hidden;
}

#slider figure .jumbotron {
    width: 20%;
    height: 350px;
    float: left;
}

#slider figure {
    position: relative;
    width: 500%;
    height: 300px;
    margin: 0;
    left: 0;
    text-align: left;
    animation: 30s slider infinite;
}